
  <div class="app">

    <!-- listes des tps -->
    <div class="sidebarr p-4">
      <a routerLink="tp1">TP 1</a>
      <a routerLink="tp2">TP2- Data Binding et Affichage des données</a>
      <a routerLink="tp3">TP3- Les directives</a>
      <a routerLink="tp4">TP4- Les Pipes</a>
      <a routerLink="tp5">TP5- Forms</a>
      <a routerLink="tp6">TP6- Les Services</a>
    </div>

    <!-- le contenu de l'un des liens au dessus sera affichér ici -->
    <div class="contentt p-3">
      <h2>Veuillez choisir sur un TP</h2>
      <router-outlet></router-outlet>
    </div>

  </div>


